@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Abel');
*{border:none; background:none; border-collapse:collapse; outline:none; margin:0px; padding:0px; list-style:none; text-decoration-line:none;
-webkit-appearance:none; -moz-appearance:none; appearance:none;
-webkit-tap-highlight-color:rgba(0,0,0,0);
font-family: 'Abel', 'Microsoft JhengHei', 'Helvetica'; font-size:12px; color:#000000;
}

.top{display:flex; border-bottom:1px #000000 solid; padding:4px;}
.database{flex-grow:1; text-align:center; padding:4px;}
.signOut{flex-basis:40px; border:1px #000000 solid; text-align:center; padding:4px; cursor:pointer;}


.queryTitle{border-bottom:1px #000000 solid; background-color:#bbbbbb; text-align:center; padding:4px;}

.queryCollections{display:flex; width:100%; border-bottom:1px #000000 solid;}
.queryCollectionNormal{flex:1; border-right:1px #000000 solid; background-color:#ffffff; word-break:break-all; text-align:center; color:#000000; padding:4px; cursor:pointer;}
.queryCollectionActive{flex:1; border-right:1px #000000 solid; background-color:#dddddd; word-break:break-all; text-align:center; color:#000000; padding:4px; cursor:pointer;}
.queryCollectionNormal:last-child{border-right:0px #000000 solid;}
.queryCollectionActive:last-child{border-right:0px #000000 solid;}


.queryFind{display:flex; border-bottom:1px #000000 solid;}
.queryFindNormal{flex:1; border-right:1px #000000 solid; background-color:#ffffff; word-break:break-all; text-align:center; color:#000000; padding:4px; cursor:pointer;}
.queryFindActive{flex:1; border-right:1px #000000 solid; background-color:#dddddd; word-break:break-all; text-align:center; color:#000000; padding:4px; cursor:pointer;}
.queryFindNormal:last-child{border-right:0px #000000 solid;}
.queryFindActive:last-child{border-right:0px #000000 solid;}


.querySort{display:flex; border-bottom:1px #000000 solid;}
.querySortNormal{flex:1; border-right:1px #000000 solid; background-color:#ffffff; word-break:break-all; text-align:center; color:#000000; padding:4px; cursor:pointer;}
.querySortActive{flex:1; border-right:1px #000000 solid; background-color:#dddddd; word-break:break-all; text-align:center; color:#000000; padding:4px; cursor:pointer;}
.querySortNormal:last-child{border-right:0px #000000 solid;}
.querySortActive:last-child{border-right:0px #000000 solid;}


.queryProjections{display:flex; border-bottom:1px #000000 solid;}
.queryProjectionNormal{flex:1; border-right:1px #000000 solid; background-color:#ffffff; word-break:break-all; text-align:center; color:#000000; padding:4px; cursor:pointer;}
.queryProjectionActive{flex:1; border-right:1px #000000 solid; background-color:#dddddd; word-break:break-all; text-align:center; color:#000000; padding:4px; cursor:pointer;}
.queryProjectionNormal:last-child{border-right:0px #000000 solid;}
.queryProjectionActive:last-child{border-right:0px #000000 solid;}


.queryOptions{display:flex; border-bottom:1px #000000 solid; padding:4px;}
.queryOption{flex-grow:1; background-color:#88bbff; text-align:center; padding:4px; margin-right:4px; cursor:pointer;}
.queryOption:last-child{margin-right:0px;}


.queryTips{border-bottom:1px #000000 solid; text-align:center; color:#990000; padding:4px;}
.queryDocuments{}
.queryDocument{display:flex; border-bottom:1px #000000 solid;}
.queryDocumentNumber{flex-basis:20px; border-right:1px #000000 solid; padding:4px;}
.queryDocumentField{flex:1; border-right:1px #000000 solid; padding:4px;}
.queryDocumentField:last-child{border-right:0px #000000 solid;}
.queryDocumentFieldKey{word-break:break-all; color:#888888;}
.queryDocumentFieldValue{word-break:break-all; }
.queryDocumentEdit{display:block; border-right:1px #000000 solid; background-color:#dddddd; padding:4px; cursor:pointer;}
.queryDocumentDelete{display:block; background-color:#dddddd; padding:4px; cursor:pointer;}


.updateTitle{background-color:#000000; text-align:center; color:#ffffff; padding:4px;}
.updateField{display:flex; border-bottom:1px #000000 solid; padding:4px;}
.updateLabel{flex-basis:120px; border-right:1px #dddddd solid; padding:4px; margin-right:4px;}
.updateMethod{flex-basis:80px; border-right:1px #dddddd solid; color:#2222ff; padding:4px; margin-right:4px;}
.updateReadOnly{padding:4px;}
.updateInput{flex-basis:600px; border:1px #dddddd solid; padding:4px;}
.updateTextArea{flex-basis:600px; border:1px #dddddd solid; padding:4px;}
.updateSelect{flex-basis:610px; border:1px #dddddd solid; padding:4px;}
.updateEditText{flex-basis:600px; border:1px #dddddd solid; padding:4px;}


.updateInputTexts{flex-basis:650px;}
.updateInputTextsItem{display:flex; flex:1; margin-bottom:4px;}
.updateInputTextsItemDelete{background-color:#dddddd; text-align:center; padding:4px; cursor:pointer;}
.updateInputTextsInsert{width:200px; background-color:#2222ff; color:#ffffff; text-align:center; padding:4px; cursor:pointer;}


.updateStatus{color:#888888; padding:4px;}


.updateReference{flex-basis:1600px;}
.updateReferenceLabel{margin-bottom:4px;}
.updateReferenceItems{display:flex; flex-wrap:wrap; border-bottom:1px #dddddd solid; margin-bottom:4px;}
.updateReferenceItem{flex-basis:10%; border:1px #dddddd solid; margin-right:4px; margin-bottom:4px;}
.updateReferenceValue{border-bottom:1px #dddddd solid; padding:4px;}
.updateReferenceSelect{background-color:#dddddd; color:#000000; text-align:center; padding:4px; cursor:pointer;}
.updateReferenceDelete{background-color:#dddddd; color:#000000; text-align:center; padding:4px; cursor:pointer;}


.updateImages{flex-basis:1600px;}
.updateImagesFile{background-color:#dddddd; text-align:left; padding:4px; cursor:pointer;}
.updateImagesInfo{padding:4px;}
.updateImagesInsert{width:200px; background-color:#dddddd; color:#000000; text-align:center; padding:4px; cursor:pointer;}


.updateImageItems{display:flex; flex-wrap:wrap; margin-bottom:4px;}
.updateImageItem{flex-basis:10%; border:1px#dddddd solid; margin-right:4px;}
.updateImageItemView{border-bottom:1px#dddddd solid; width:100%; padding-top:100%; background-size:contain; background-position:center; background-repeat:no-repeat;}
.updateImageItemId{border-bottom:1px #dddddd solid; word-break:break-all; padding:4px;}
.updateImageOptions{display:flex;}
.updateImageDelete{flex:1; background-color:#dddddd; color:#000000; text-align:center; padding:4px; cursor:pointer;}
.updateImageForward{flex:1; border-right:1px#dddddd solid; text-align:center; padding:4px; cursor:pointer;}
.updateImageAfterward{flex:1; text-align:center; padding:4px; cursor:pointer;}


.updateMultiple{flex-basis:1600px;}
.updateMultipleItem{border:1px #dddddd solid; padding:4px; margin-bottom:20px;}
.updateMultipleItemOptions{display:flex; flex-basis:600px; margin-top:4px;}
.updateMultipleItemDelete{flex:1; background-color:#dddddd; color:#000000; text-align:center; padding:4px; margin-right:4px; cursor:pointer;}
.updateMultipleItemUpward{flex:1; background-color:#dddddd; color:#000000; text-align:center; padding:4px; margin-right:4px; cursor:pointer;}
.updateMultipleItemDownward{flex:1; background-color:#dddddd; color:#000000; text-align:center; padding:4px; cursor:pointer;}
.updateMultipleOptions{display:flex;}
.updateMultipleOption{flex:1; background-color:#dddddd; color:#000000; text-align:center; padding:4px; margin-right:4px; cursor:pointer;}
.updateMultipleOption:last-child{margin-left:0px;}

/*
.UpdMutiInp{border:1px #cccccc solid; padding:5px; margin-bottom:5px;}
.updMutiInpBlk{border:1px #cccccc solid; padding:5px; margin-bottom:5px;}
.updMutiInpType{border:0px #cccccc solid; background-color:#666666; color:#ffffff; padding:5px; margin-bottom:5px;}
*/
/*.updMutiInpTxt{border:1px #cccccc solid; padding:5px;}*/
/*
.updMutiInpBtns{display:flex; border:1px #cccccc solid; padding-right:5px; padding-top:5px; padding-bottom:5px;}
.updMutiInpMov{flex:1; background-color:#cccccc; color:#000000; text-align:center; padding:5px; margin-left:5px; cursor:pointer;}
.updMutiInpDel{flex:1; background-color:#ff2222; color:#ffffff; text-align:center; padding:5px; margin-left:5px; cursor:pointer;}
*/



.signIn{position:absolute; display:flex; justify-content:center; align-items:center; width:100%; height:100%;}
.signInInner{display:flex; flex-wrap:wrap; justify-content:center; border:1px #000000 solid; flex-basis:425px; padding:4px; margin:8px;}
.signInTitle{font-size:16px; margin-bottom:4px;}
.signInInput{flex-basis:100%; border:1px #000000 solid; font-size:12px; padding:4px; margin-bottom:8px;}
.signInOptions{display:flex; flex-basis:100%;}
.signInOption{flex:1; background-color:#000000; text-align:center; color:#ffffff; padding:4px; margin-right:4px; cursor:pointer;}
.signInOption:last-child{margin-right:0px;}



/*
.updRefsBtns{display:flex;}
.updRefsMov{flex:auto; background-color:#cccccc; text-align:center; padding:5px; margin-right:0px; cursor:pointer;}
.updRefsMov:last-Child{flex:auto; background-color:#cccccc; text-align:center; padding:5px; margin-left:0px; cursor:pointer;}
.updRefsCancel{flex:auto; background-color:#2222ff; text-align:center; color:#ffffff; padding:5px; cursor:pointer;}
*/

/*
.updImgsItemBig{width:30%; flex-basis:30%; border:1px #cccccc solid; padding:5px; margin-right:5px;}
.updImgsMov{flex:auto; background-color:#cccccc; text-align:center; padding:5px; margin-right:0px; cursor:pointer;}
.updImgsMov:last-Child{flex:auto; background-color:#cccccc; text-align:center; padding:5px; margin-left:5px; cursor:pointer;}
.updImgsOpen{background-color:#2222ff; color:#ffffff; text-align:center; padding:5px; margin-bottom:5px; cursor:pointer;}
.updImgsDel{background-color:#2222ff; color:#ffffff; text-align:center; padding:5px; cursor:pointer;}
*/
